/* Stylesheet1 */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
a {
    text-decoration: none;
    color: white;
}
.header {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
}
.links {
    display: flex;
    padding: 10px;
    margin: 10px;
}
.link {
    margin: 10px;
}
.linktl {
    font-size: 20px;
}
.banner {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.bannercontent {
    max-width: 600px;
    padding: 50px;
    margin: 24px;
    text-align: center;
}  
.bannertitle {
    font-size: 56px;
    font-weight: bold;
    color: #F9FAf8;
}
.bannerdescription {
    color:#e5e7eb;
    font-size: 24px;
}
.bannersubdescription {
    color:#e5e7eb;
    font-size: 20px;
    margin-left: 10px;
}
a {
    text-decoration: none;
    color: white;
}

.content {
    display: flex;
    justify-content: center;
    margin: 15px;
    flex-wrap: wrap;
}
.box {
    margin: 5px;
    padding: 5px;
   max-width: 400px;
   height: auto;
   text-align: center;
}

.footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0; 
    width: 100%;
    color: white;
    height: 80px;
}
.bookbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 185, 24);
    height: 100%;
    padding: 0 10px 0 10px;
    font-size: 30px;
}
.contentheader {
    margin: 10px;
}

img {
    width: 100%;
    height: auto;
}
.headertl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Specific to Book-Now Page */
.year {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

.rates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.seasons {
    display: flex;
    flex-direction: row;
}
.season {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.seasontitle {
    text-decoration: underline;
    font-size: 20px;
}

.rules {
    max-width: 450px;
    
}
.policy {
    text-decoration: underline;
    font-weight: bold;
    color: #1a2c46;
    margin-bottom: 5px;
}
.subrulet1 {
    font-style: italic;
    color: #1a2c46;
    text-decoration: underline;
    margin-bottom: 5px;
}
.subrulet2 {
    color: #1a2c46;
    margin-bottom: 5px;
}
.subrulet3 {
    font-style: italic;
    color: #1a2c46;
}